/*General*/

:root {
    --Background: rgb(0, 58, 58);
    --MainColor: rgb(125, 193, 238);
    --SeconColor: rgb(83, 125, 153);
}

* {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}
li {
    display: inline;
}

a {
    text-decoration: none;
    color: var(--MainColor);
}

body {
    background: var(--Background);
    color: var(--MainColor);
}

/*Header*/

header {
    background: var(--MainColor);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0px; 
    align-items: center;
    width: 100%;
    margin-left: 0;
}

header h1 {
    font-size: 300%;
    background: var(--SeconColor);
    text-align: right;
    margin-right: 5px;
    padding: 5px 10px 5px 50px;
}


@media screen and (max-width: 500px) {
    header h1 {
        font-size: 200%;
    }
}

header li {
    margin: 0px 15px;
    border-bottom: 2px solid var(--SeconColor);
    padding: 5px;
}


header li a {
    color: var(--Background);
    font-size: 125%;
}

h2 {
    margin:0;
    padding: 20px;
    background: linear-gradient(to right, var(--SeconColor),var(--MainColor),var(--SeconColor),var(--MainColor),var(--SeconColor));
    text-align: right;
    font-size: 150%;
    color:var(--Background);
}

/*Main and sections*/

h3 {
    flex: 20%;
    text-align: right;
    padding: 20px 15px;
    margin: 15px 15px;
    border-right: 3px solid var(--MainColor);
    font-size: 150%; 
}

.twocolumn {
    display: flex;
}


/*About me*/

.twocolumn article {
    flex: 80%;
    padding: 20px 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.twocolumn article img {
    padding: 0px;
    height: 150px;
    width: 150px;
    max-width: 100%;
    border-radius: 20%;
    border: 5px solid var(--MainColor);
}
.twocolumn article p {
    padding: 0px;
    margin: 0px 10px;
    height: 150px;
    overflow: auto;
    text-align: justify; 
}

@media screen and (max-width: 500px) {
    .twocolumn article p {
        line-height: 1;
    }
    .twocolumn article img {
        height: 75px;
        width: 75px;
    }
}

/*My Work*/ 
.grid {
    flex: 80%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
    padding: 20px 0px;
}

.twocolumn figure {
    padding: 0;
    margin: 10px 0px;
    position: relative;
    border: 5px solid var(--MainColor);
}

.firstfigure {
    width: 100%;
    margin: 0px 0px -7px 0px;
}

.firstimg a::before {
    position:absolute;
    display: block;
    z-index: 1;
    content: '';
    background: rgb(66, 66, 95);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    max-width: 100%;
    transition: 0.5s;
}

.firstimg:hover a::before {
    opacity:0;
}

.secfigure img {
    width:400px;
    height: 100%;
    flex: 48%;
    flex: 0 5 400px;
    max-width: 100%;
    margin: 0px 0px -7px 0px;
}
.secfigure a::before {
    position:absolute;
    display: block;
    z-index: 1;
    content: '';
    background: rgb(66, 66, 95);
    opacity: 0.5;
    width: 400px;
    height: 100%;
    transition: 0.5s;
    max-width: 100%;
}

.secfigure:hover a::before {
    opacity:0;
}

.textbox {
    position: absolute;
    background: var(--MainColor);
    color: var(--Background);
    bottom: 30px;
    width: 200px;
    max-width: 100%;
    height: 75px;
    margin: 0px;
    padding: 15px;
    text-align: right;
    z-index: 2;
}

@media screen and (max-width:500px) {
    .textbox {
        width: 100px;
    }
    .textbox *{
        font-size: small;
    }
}

/*Footer*/

footer div {
    flex:80%;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin: 15px 0px;
}

footer div ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 5px;
}

footer div ul li {
    border-bottom: 2px solid var(--MainColor);
    padding: 5px 0px;
}

footer div ul li a {
    font-size: 125%;
}

form {
    margin: 20px 0px;
    text-align: center;  
}

form * { 
    display: block;
    text-align: center;
    margin: 5px auto;
    max-width: 100%;
    width: 50%;
}
